body{
	font-family:'Open Sans',Arial,Tahoma,sans-serif;
	font-size:14px;
	color: #000;
	}
	
input, select, textarea {
	outline:none;
	font-family:'Open Sans',Arial,Tahoma,sans-serif;
	font-size:14px;
	color: #000;
	text-transform:uppercase;
}

a {color:#069;text-decoration:none;}
a:hover {color:#f00;}

#main {}

#main .mainContainer {
	width:800px;
	margin:auto;
}

#main .mainContainer .header {
	padding:10px 0;
	position: relative;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
#main .mainContainer .header .headerLeft {
	width:50%;
}
#main .mainContainer .header .headerLeft .logo {}
#main .mainContainer .header .headerLeft .logo a.logo {
	font-size: 40px;
	font-weight:800;
	text-decoration: none;
	color:#069;
	}
#main .mainContainer .header .headerLeft .logo a.logo span {
	color:red;
}
#main .mainContainer .header .headerLeft .logo {}

#main .mainContainer .header .headerRight {
	width:50%;
}
#main .mainContainer .header .headerRight .online {
	text-align:right;
}
#main .mainContainer .header .headerRight .online a.peopleOnline {
	font-weight: bold;
	color:#000;
}
#main .mainContainer .header .headerRight .online a.peopleOnline:hover{color:#000;}

#main .mainContainer .header .headerRight .language select.selectLanguage {
	border:1px solid #000;
	padding:3px;
	width:120px;
	margin:10px 0 0;
}

#main .mainContainer .header .headerRight .language {
	text-align:right;
}


#main .mainContainer .header {}

#main .mainContainer .header {}

#main .mainContainer  .content {
	margin:10px 0;
}
#main .mainContainer  .content {}

#main .mainContainer  .content .chatForm {
	position: relative;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
	margin-bottom:20px;
}

#main .mainContainer  .content .chatForm .title{
	padding:10px;
	text-align:center;
	font-size:20px;
	font-weight:900;
	text-transform:uppercase;
	text-shadow: 1px 1px 1px #fff;
}

#main .mainContainer  .content .chatForm input[type="radio"] {
	display:none;
	box-sizing:border-box;
}
#main .mainContainer  .content .chatForm input[type="checkbox"] {
	display:none;
	box-sizing:border-box;
}
#main .mainContainer  .content .chatForm input[type="text"] {
	box-sizing:border-box;
}
#main .mainContainer  .content .chatForm label {
	border: 1px solid #069;
	padding: 5px 10px;
	font-weight:bold;
	width:100px;
	text-transform:uppercase;
	cursor:pointer;
	box-sizing:border-box;
	position:relative;
	display:inline-block;
	text-shadow:1px 1px 1px #fff;
}
#main .mainContainer  .content .chatForm label:hover{
	background-color:#f9f9f9;
}

#main .mainContainer  .content .chatForm input[type="radio"]:checked+label {
	background: #b3dced; /* Old browsers */
	background: -moz-linear-gradient(top,  #b3dced 0%, #6ec3ef 50%, #bce0ee 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #b3dced 0%,#6ec3ef 50%,#bce0ee 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #b3dced 0%,#6ec3ef 50%,#bce0ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=0 ); /* IE6-9 */
    border-color: #069;
    text-shadow: 1px 1px 5px #fff;
    font-weight: 800;
}

#main .mainContainer  .content .chatForm input[type="radio"]:checked+label.doesntMatter {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f6f6+0,dbdce2+21,b8bac6+49,dddfe3+80,f5f6f6+100;Grey+Pipe */
background: rgb(245,246,246); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(245,246,246,1) 0%, rgba(219,220,226,1) 21%, rgba(184,186,198,1) 49%, rgba(221,223,227,1) 80%, rgba(245,246,246,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */
  font-weight:bold;
  border-radius:5px 0 0 5px;
    text-shadow: 1px 1px 5px #fff;
}

#main .mainContainer  .content .chatForm input[type="checkbox"]:checked+label {
	background: #b3dced; /* Old browsers */
	background: -moz-linear-gradient(top,  #b3dced 0%, #6ec3ef 50%, #bce0ee 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #b3dced 0%,#6ec3ef 50%,#bce0ee 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #b3dced 0%,#6ec3ef 50%,#bce0ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=0 ); /* IE6-9 */
    border-color: #069;
    text-shadow: 1px 1px 5px #fff;
    font-weight: 800;
}

#main .mainContainer  .content .chatForm input[type="text"] {
	border:1px solid #069;
	text-align:center;
	font-weight:bold;
	width: 100px;
	padding:5px;
}

input[type="checkbox"].inactive, select.inactive, input[type="text"].inactive, div.male.divInRow.inactive, div.male.divInRow.inactive > *, div.female.divInRow.inactive, div.female.divInRow.inactive > * {
	color: #666 !important;
    background-color: #eee !important;
	border-color:#666 !important;
    cursor: not-allowed !important;
    user-select: none !important;;
}

#main .mainContainer  .content .chatForm select {
	border:1px solid #069;
	text-align:center;
	font-weight:bold;
	width: 100px;
	padding:4px;
}

#main .mainContainer  .content .chatForm select.myAge {
	border-radius:0 5px 5px 0;
	border-left:0;
}
#main .mainContainer  .content .chatForm select.internalLocation {
	border-radius:0 5px 5px 0;
	border-left:0;
}

#main .mainContainer  .content .chatForm select.strangerAgeFrom {
	border-radius:5px 0 0 5px;
}

#main .mainContainer  .content .chatForm select.strangerAgeUpTo {
	border-radius:0 5px 5px 0;
	border-left:0;
}

#main .mainContainer  .content .chatForm .divInRow {
	display:inline-block;
	width:auto;
}

#main .mainContainer  .content .chatForm .gender {
	margin:20px 0;
	position: relative;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
	text-align:center;
}

#main .mainContainer  .content .chatForm .me .gender label.doesntMatter {
	border-radius:5px 0 0 5px;
}
#main .mainContainer  .content .chatForm .me .gender label.male {
	border-radius:0;
	border-left:0;
}
#main .mainContainer  .content .chatForm .me .gender label.female {
	border-radius:0 5px 5px 0;
	border-left:0;
}

#main .mainContainer  .content .chatForm .stranger .gender label.male {
	border-radius:5px 0 0 5px;
}
#main .mainContainer  .content .chatForm .stranger .gender label.female {
	border-radius:0 5px 5px 0;
	border-left:0;
}

#main .mainContainer  .content .chatForm .me {
	width:50%;
}

#main .mainContainer  .content .chatForm .me .age {
	margin:20px 0;
	position: relative;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
	text-align:center;
}
#main .mainContainer  .content .chatForm .me label.doesntMatter {
	border-radius:5px 0 0 5px;
}

#main .mainContainer  .content .chatForm .me .title {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffe8e8+0,ffd6d6+50,ffc1c2+51,ff7f81+100 */
background: rgb(255,232,232); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,232,232,1) 0%, rgba(255,214,214,1) 50%, rgba(255,193,194,1) 51%, rgba(255,127,129,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,232,232,1) 0%,rgba(255,214,214,1) 50%,rgba(255,193,194,1) 51%,rgba(255,127,129,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,232,232,1) 0%,rgba(255,214,214,1) 50%,rgba(255,193,194,1) 51%,rgba(255,127,129,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe8e8', endColorstr='#ff7f81',GradientType=0 ); /* IE6-9 */
    border: 1px solid #069;
    border-radius: 5px 0 0 5px;
}

#main .mainContainer  .content .chatForm .me .location {
	margin:20px 0;
	position: relative;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
	text-align:center;
}
#main .mainContainer  .content .chatForm .me .location .doesntMatter{
	width:auto;
}
#main .mainContainer  .content .chatForm .me .location .myLocation{
	width:auto;
}
#main .mainContainer  .content .chatForm .me .location .myLocation input[type="text"] {
	width: 250px;
	border-left:0;
	border-radius:0 5px 5px 0;
}


#main .mainContainer  .content .chatForm .stranger {
	width:50%;
}
#main .mainContainer  .content .chatForm .stranger .title{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e4f5fc+0,bfe8f9+50,9fd8ef+51,2ab0ed+100;Blue+Gloss+%235 */
background: rgb(228,245,252); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(228,245,252,1) 0%, rgba(191,232,249,1) 50%, rgba(159,216,239,1) 51%, rgba(42,176,237,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=0 ); /* IE6-9 */
border: 1px solid #069;
    border-radius: 0 5px 5px 0;
    border-left: 0;
}

#main .mainContainer  .content .chatForm .stranger .gender {
	
}

#main .mainContainer  .content .chatForm .stranger .age {
	margin:20px 0;
	position: relative;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
	text-align:center;
}

#main .mainContainer  .content .chatForm .stranger .age .strangerAgeDash {
	padding:4px 0;
}

#main .mainContainer  .content .chatForm .stranger .location {
	margin:20px 0;
	position: relative;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
	text-align:center;
}

#main .mainContainer  .content .chatForm .stranger .location .strangerLocation input[type="text"] {
	width: 250px;
	border-radius:5px;
}

#main .mainContainer  .content .connect {
	margin:10px 0;
}
#main .mainContainer  .content .connect input[type="button"] {
	border:1px solid #069;
	border-radius:5px;
	padding:10px 20px;
	font-size:14px;
	font-weight:800;
	cursor:pointer;
	width: 200px;
	text-shadow:1px 1px 1px #fff;
	background-color:#bae5fb;
}
#main .mainContainer  .content .connect input[type="button"]:hover{
	background-color:#6ec3ef;
}

#main .mainContainer  .content {}

#main .mainContainer  .content {}

/* СТРАНИЦА ЧАТА */

#chat {
	min-height:500px;
	margin:20px auto;
}
#chat .chatWindow {}
#chat .chatWindow .header {
	border:0;
	padding:0;
	border:1px solid #666;
	border-radius:5px 5px 0 0;
}
#chat .chatWindow .header div {
	width:100%;
	text-align:center;
	padding:10px;
	background-color:lightblue;
	text-shadow:1px 1px 1px #fff;
	font-weight:bold;
	margin:5px 0 0;
	border-radius:1px;
}
#chat .chatWindow .header .lookingForStranger {}
#chat .chatWindow .header .lookingForStranger:after {
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	-webkit-animation: ellipsis steps(4,end) 900ms infinite;      
	animation: ellipsis steps(4,end) 900ms infinite;
	content: "\2026"; /* ascii code for the ellipsis character */
	width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

#chat .chatWindow .header .strangerFound {}
#chat .chatWindow .header .strangerEndedChat{}
#chat .chatWindow .header .youEndedChat{}

#chat .chatWindow .dialog {
	border-left:1px solid #666;
	border-right:1px solid #666;
}

#chat .chatWindow .dialog .dialogWindow {
	height:400px;
	overflow-y:scroll;
}

#chat .chatWindow .dialog .dialogWindow::-webkit-scrollbar {
	border-left:1px solid #666;
}

#chat .chatWindow .dialog .dialogWindow::-webkit-scrollbar-thumb {
	background-color:#1E90FF;
}

#chat .chatWindow .dialog .dialogWindow .messageLine {
	position: relative;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
#chat .chatWindow .dialog .dialogWindow .messageLine:nth-child(2n+1) {
	background-color:#f9f9f9;
}

#chat .chatWindow .dialog .dialogWindow .messageLine .info {
	width:15%;
	padding:10px;
	box-sizing:border-box;
}

#chat .chatWindow .dialog .dialogWindow .messageLine .info .title {
	font-weight:800;
	font-size:12px;
	text-align:center;
	text-transform:uppercase;
	text-shadow:1px 1px 1px #fff;
}

#chat .chatWindow .dialog .dialogWindow .messageLine .info .time {
	font-size:10px;
	text-align:center;
	text-shadow:1px 1px 1px #fff;
}

#chat .chatWindow .dialog .dialogWindow .messageLine .messageText {
	width:85%;
	text-align:left;
	padding:10px;
	box-sizing:border-box;
}

#chat .chatWindow .dialog .dialogWindow .myMessage .myInfo {
	background-color:#bae5fb;
}
#chat .chatWindow .dialog .dialogWindow .myMessage .myInfo .title {}
#chat .chatWindow .dialog .dialogWindow .myMessage .myInfo .time {}
#chat .chatWindow .dialog .dialogWindow {}

#chat .chatWindow .dialog .dialogWindow .strangerMessage .strangerInfo {
	background-color:#ffff99;
}

#chat .chatWindow .toolsLine {
	position: relative;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
	text-align:center;
	padding:10px;
	background-color:#f0e68c;
	border:1px solid #666;
	border-bottom:0;
	text-shadow:1px 1px 1px #fff;
	box-sizing:border-box;
	height:40px;
}
#chat .chatWindow .toolsLine div {}
#chat .chatWindow .toolsLine .typingOrNot {
	width:70%;
	text-align:left;
}

#chat .chatWindow .toolsLine .typingOrNot:after {
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	-webkit-animation: ellipsis steps(4,end) 900ms infinite;      
	animation: ellipsis steps(4,end) 900ms infinite;
	content: "\2026"; /* ascii code for the ellipsis character */
	width: 0px;
}

#chat .chatWindow .toolsLine .soundOnOff {
	width:30%;
	text-align:right;
}

#chat .chatWindow .toolsLine .soundOnOff input[type="checkbox"] {
	display:none;
}
#chat .chatWindow .toolsLine .soundOnOff label {
	display:inline-block;
	box-sizing:border-box;
	cursor:pointer;
	width:20px;
	height:20px;
	background-image:url(../images/icons/alertOff.svg);
	background-position:center;
	background-repeat:no-repeat;
	background-size:20px;
	-webkit-filter: drop-shadow( 0 0 2px #fff );
            filter: drop-shadow( 0 0 2px #fff );
}

#chat .chatWindow .toolsLine .soundOnOff label:hover {
	opacity:.9;
}

#chat .chatWindow .toolsLine .soundOnOff input[type="checkbox"]:checked+label {
	background-image:url(../images/icons/alertOn.svg);
	-webkit-filter: drop-shadow( 0 0 2px #fff );
            filter: drop-shadow( 0 0 2px #fff );
}

#chat .chatWindow .toolsLine {}
#chat .chatWindow .toolsLine {}

#chat .chatWindow .messageTextBox {}
#chat .chatWindow .messageTextBox .textBox {}
#chat .chatWindow .messageTextBox .textBox textarea {
	margin:0 auto;
	padding:10px;
	width:100%;
	height:60px;
	box-sizing:border-box;
	resize:vertical;
	border:1px solid #666;
	border-bottom:1px solid #069;
	text-transform:none;
	display:block;
}

#chat .chatWindow .buttons {
	position: relative;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
	text-align:center;
}
#chat .chatWindow .buttons div {
	width:200px;
}
#chat .chatWindow .buttons div input[type="button"] {
	width:100%;
	border:1px solid #069;
	border-top:0;
	border-radius:0;
	padding:10px;
	font-size:14px;
	font-weight:800;
	cursor:pointer;
	width: 200px;
	text-shadow:1px 1px 1px #fff;
	background-color:#bae5fb;
	box-sizing:border-box;
	overflow:hidden;
	display:table;
}

#chat .chatWindow .buttons div input[type="button"].inactive {
	color:#666;
	background-color:#eee;
	cursor: not-allowed;
}
#chat .chatWindow .buttons div input[type="button"].inactive:hover {
	background-color:#eee;
}

#chat .chatWindow .buttons div input[type="button"]:hover{
	background-color:#6ec3ef;
}

#chat .chatWindow .buttons .sendMessage {}
#chat .chatWindow .buttons .sendMessage input[type="button"]{
	border-radius:0 0 0 5px;
	border-right:0;
}
#chat .chatWindow .buttons .endChat {}
#chat .chatWindow .buttons .continueSearch {}
#chat .chatWindow .buttons .continueSearch input[type="button"] {
	border-left:0;
}
#chat .chatWindow .buttons .changeSearchParameters {}
#chat .chatWindow .buttons .changeSearchParameters input[type="button"]{
	border-radius:0 0 5px 0;
	border-left:0;
}

/* СТРАНИЦА ЧАТА */

.hidden {
	display:none;
}

#main .mainContainer  .footer {
	border-top:1px solid #069;
}
#main .mainContainer  .footer .footerLinks {
	text-align:center;
}
#main .mainContainer  .footer .footerLinks ul.links {padding:0;}
#main .mainContainer  .footer .footerLinks ul.links li {
	display:inline-block;
	box-sizing:border-box;
	position:relative;
	display:inline;
}
#main .mainContainer  .footer .footerLinks ul.links li a {
	text-transform:uppercase;
	color:#069;
	text-decoration:none;
	cursor:pointer;
	box-sizing:border-box;
}
#main .mainContainer  .footer .footerLinks ul.links li:before{
	content:"\2022";
	margin:0 5px;
	color:#069;
}
#main .mainContainer  .footer .footerLinks ul.links li:first-child:before{
	content:"";
}
#main .mainContainer  .footer .footerLinks ul.links li a:hover{
	color:#f00;
}
#main .mainContainer  .footer .poweredByZaf {
	text-align:center;
}
#main .mainContainer  .footer {}

#main .mainContainer .content .title {
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
}
#main .mainContainer .content .aboutText {
	text-align: justify;
	font-size: 16px;
}